*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 30vmin;
    border-radius: 50%;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCB653;
}
.click{
    
    width: 70%;
    margin: 10%;
    margin-left: 10%;
    background-color: #FF5254;
    color: white;
    font-weight: 600;
    border-style: solid;
    padding: 10px 20px; /* Adjust padding to suit your design */
    font-size: 16px; /* Adjust font size as needed */
    border: none;
    border-radius: 10px; /* Adjust border radius as needed */
    cursor: pointer;

    
}
.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:5%;
    width: 20%;
    padding: 5%;
    background-color: #ffc574;
    border-radius: 5%;
    
}
.displayjoke{
    border-radius: 10px;
    margin-top: 10px; 
    background-color:#fa9405    
}
.jokecontainer{
    font-weight: 200;
}

