*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #5C415D;
}
.maincontainer{
    margin: 10%;
    color: #fff;
}
.sp1{
    color: #FFFC31;
}
.copy{
    width: 20px;

}
#in{
    max-width: 30%;
}