.myclass{
    background-color: orangered;
}

div{
    background-color: antiquewhite;
    height: 50px;
    width: 500px;
    
}

.newclass{
    background-color: plum;

}




.span1{

    color: blueviolet;
    
}