.bod{
    background-color: #51355A;
    text-align: center;
    
}


.boxes{
       
       width: 50vmin;
       height:50vmin;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       display: flex;
       margin-top: 15vmin;
       margin-left: 70vmin;
       padding: 10px;
     
      
}
.box{
    width: 15vmin;
    height: 15vmin;
    margin: 2px;
    background-color: palegoldenrod;
    border-radius: 8px;
    border: none;
    font-size: 8vmin;
    color:red

}
.reset{
    background-color: #9E2B25;
    color: #2A0C4E;
    border-radius: 5px;
    border:none;
    width: 10vme;
    height: 40px;
    margin-right:  55px;
    font-size: 2.5vmin;
    color: beige;
    font-weight: 100;  
    
}

.print{
    color:red;
    font-size: 8vmin;
    
    
}